﻿@{
    ViewData["Title"] = "PrivsXYZ";
}

<div class="text-center">
    <h1 class="display-4">IP: @ViewBag.ipv4</h1><br /><br />
    <h1 class="display-4">Hostname: @ViewBag.host</h1><br /><br /><br />
    <h4>
        Porada: Jeżeli chcesz uzyskać te informacje w czysto tekstowej formie (np. do szybkiego podejrzenia w terminalu), możesz to zrobić wchodząc pod adres:<br /><br />
        <a href="https://privs.xyz/tip">privs.xyz/tip</a>
    </h4>
</div>